* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-images img {
    width: 100%; /* Make images fill their container */
    height: auto; /* Maintain aspect ratio */
    max-width: 100px; /* Limit maximum width */
    max-height: 100px; /* Limit maximum height */
}
